
<% if signed_in? %>

  <div class="row">
	<aside class="span4">
	<section>
		<br/>
                <span class="left_section"><%= link_to_function "Add Workorder", "$('#new_workorder').toggle('fast')" %>
                <hr /></span>

    <div id="new_workorder" style="display:none">
        <%= render 'shared/workorderpost_form' %>
    </div>
        <%= render :partial => 'tasks/tasks_module_mobile' %>

      </section>
    </aside>
		<%= render 'shared/workorders_display' %>
		<%= render 'shared/workorders_feed'%>
  </div>
<% else %>
<div class="center hero-unit">
	<h1>Work Order Machine</h1>
		<p>
		</p>
	<%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>
