<% if signed_in? %>
<div class="mobile_user_wrapper">
    <div class="mobile_user_info">
        <%=gravatar_for(current_user, :size => 75)%>
        <div class="mobile_user">
            <h2><%=current_user.name.upcase%></h2>
            <center><h3><%=current_user.role%></h3></center>
        </div>
    </div>
</div>

<div class="mobile_home_page">

<%= render :partial => 'tasks/tasks_module_mobile' %>

</div>

    <div class="mobile_footer">
        <table>
            <tr>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @workorders_pastdue > 0 %>
                    <div class="red-badge"><%=@workorders_pastdue %></div>
                  <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Past Due Workorders", '/pastdue' %></div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @assets_without_serials.count > 0 %>
                  <div class="red-badge"><%=@assets_without_serials.count %></div> <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Equipment Unassigned", "/unassigned" %></div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @assets_need_to_order.count > 0 %>
                  <div class="red-badge"><%=@assets_need_to_order.count%></div> <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Equipment To Order", '/need_to_order'%></div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @parts.count > 0 %>
                  <div class="red-badge"><%=@parts.count%></div> <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Parts", parts_path %></div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @user_days_off_unapproved_count > 0 %>
                    <div class="red-badge"><%= @user_days_off_unapproved_count %></div>
                    <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Time Off Requests", "/timeoff/"%></div>
                </div>
              </td>
            </tr>
        </table>
    </div>

<% else %>

	<br />
	<h2>Welcome to</h2> <h2>Workorder Machine.</h2>
	<br />
	<center><a href=<%=signin_path%> type="button" class="btn btn-large ">Sign In</a></center>


<% end %>
