<% if signed_in? %>
<div class="mobile_user_wrapper">
    <div class="mobile_user_info">
        <%=gravatar_for(current_user, :size => 75)%>
        <div class="mobile_user">
            <h2><%=current_user.name.upcase%></h2>
            <center><h3><%=current_user.role%></h3></center>
        </div>
    </div>
</div>
<div class="mobile_home_page">

    <div class="mobile_button_wrapper">
        <a href=<%=new_workorder_path%> class="btn btn-large mobile_button_block" >

            <div class="words_in_button">
               New <br /> Workorder
            </div>
            <div class="icon_in_button">
                <%=image_tag "/icons/appbar.cog.png", :size => "32x32"%>
            </div>
        </a>
        <a href="/open" class='btn btn-large mobile_button_block' type="button"><div class="words_in_button">Open Workorders</div><div class="icon_in_button"><%= image_tag "/icons/appbar.column.one.png", :size => "32x32"%></div></a>
        <a href="/workorders" class='btn btn-large mobile_button_block' type="button"><div class="words_in_button">Search Workorders</div><div class="icon_in_button"><%= image_tag "/icons/appbar.magnify.png", :size => "32x32"%></div></a>
        <a href="/calendar" class='btn btn-large mobile_button_block' type="button"><div class="words_in_button"><br />Calendar</div><div class="icon_in_button"><%= image_tag "/icons/appbar.calendar.png", :size => "32x32"%></div></a>
                <a href="/documents" class='btn btn-large mobile_button_block' type="button"><div class="words_in_button"><br />Documents</div><div class="icon_in_button"><%= image_tag "/icons/appbar.book.open.writing.png", :size => "32x32"%></div></a>        <a href="/videos" class='btn btn-large mobile_button_block' type="button"><div class="words_in_button"><br />Videos</div><div class="icon_in_button"><%= image_tag "/icons/appbar.film.png", :size => "32x32"%></div></a>

    </div>
</div>

    <div class="mobile_footer">
        <table>
            <tr>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @workorders_pastdue > 0 %>
                    <div class="red-badge"><%=@workorders_pastdue %></div>
                  <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Past Due Workorders", '/pastdue' %></div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @assets_without_serials.count > 0 %>
                  <div class="red-badge"><%=@assets_without_serials.count %></div> <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Equipment Unassigned", "/unassigned" %></div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @workorders_without_dates.count > 0 %>
                  <div class="red-badge"><%=@workorders_without_dates.count%></div> <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Equipment To Order", '/need_to_order'%></div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @parts.count > 0 %>
                  <div class="red-badge"><%=@parts.count%></div> <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Parts", parts_path %></div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @user_days_off_unapproved_count > 0 %>
                    <div class="red-badge"><%= @user_days_off_unapproved_count %></div>
                    <% end %>
                  <div class="mobile_footer_cell_text"><%=link_to "Time Off Requests", "/timeoff/"%></div>
                </div>
              </td>
            </tr>
        </table>
    </div>

<% else %>

	<br />
	<h2>Welcome to</h2> <h2>Workorder Machine.</h2>
	<br />
	<a href=<%=signin_path%> type="button" class="btn btn-large mobile_button_block">Sign In</a>


<% end %>
