<% if signed_in? %>
<div class="mobile_user_wrapper">
    <div class="mobile_user_info">
        <%=gravatar_for(current_user, :size => 75)%>
        <div class="mobile_user">
            <h2><%=current_user.name.upcase%></h2>
            <center><h3><%=current_user.role%></h3></center>
        </div>
    </div>
</div>
<div class="mobile_home_page">
    <h2>Choose a task...</h2>
    <div style="text-align: center;">
        <a href=<%=new_workorder_path%> class="btn btn-large mobile_button_block" >New Workorder</a>
        <a href="/open" class='btn btn-large mobile_button_block' type="button">Open Workorders</a>
        <a href=<%=new_part_path%> class='btn btn-large mobile_button_block' type="button">Part Needed</a>
        <a href=<%=new_day_off_path%> class='btn btn-large mobile_button_block' type="button">Request Day Off</a>
        <a href=<%=signout_path%> class='btn btn-large mobile_button_block' type="button" data-method="delete">Sign Out</a>
        <%= link_to "Switch to Normal View", toggle_mobile_path, :class => "btn btn-large mobile_button_block" %>
    </div>
</div>

    <div class="mobile_footer">
        <table>
            <tr>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @workorders_pastdue > 0 %>
                  <div class="red-badge"><%=@workorders_pastdue %></div>
                  <% end %>
                  <div class="mobile_footer_cell_text">Past Due Workorders</div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @assets_without_serials.count > 0 %>
                  <div class="red-badge"><%=@assets_without_serials.count %></div> <% end %>
                  <div class="mobile_footer_cell_text">Equipment Unassigned</div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @workorders_without_dates.count > 0 %>
                  <div class="red-badge"><%=@workorders_without_dates.count%></div> <% end %>
                  <div class="mobile_footer_cell_text">Equipment To Order</div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @parts.count > 0 %>
                  <div class="red-badge"><%=@parts.count%></div> <% end %>
                  <div class="mobile_footer_cell_text">Parts To Order</div>
                </div>
              </td>
              <td class="mobile_footer_cell">
                <div class="mobile_footer_cell_wrapper">
                  <% if @user_days_off_unapproved_count > 0 %>
                    <div class="red-badge"><%= @user_days_off_unapproved_count %></div>
                    <% end %>
                  <div class="mobile_footer_cell_text">Time Off Requests</div>
                </div>
              </td>
            </tr>
        </table>
    </div>

<% else %>

	<br />
	<h2>Welcome to</h2> <h2>Workorder Machine.</h2>
	<br />
	<a href=<%=signin_path%> type="button" class="btn btn-large mobile_button_block">Sign In</a>


<% end %>
