<div class="part_wrapper">
	<div class="gravatar_parts">
		<a href="<%= user_path(part.user) %>">
		  <%= gravatar_for part.user, size: 25%> 
		</a>
	</div>	
	<div class="part_item"><%=part.name.titleize%> | Qty: <%=part.qty%>  |
		
		<% if current_user.role=='Branch Manager' || 'Regional Manager' %>
			<%= link_to "Edit", edit_part_path(part) %>  |  
			<%= link_to "Remove", part, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	<div class="part_user">
		Requested by: <%=part.user.name%>
	</div>
	</div>
</div>