<%= form_for [@taskable, @task], remote: true do |f| %>
  <div class="task_field">
    <%= f.label :content, "Title" %>
    <%= f.text_field :content%>
    <%= f.label :notes, "Notes" %>
    <%= f.text_area :notes, rows: 3 %>
    <%= f.label :branch, "Branch" %>
    <%= f.select :branch, Workorder::BRANCH_OPTIONS, :selected => current_user.current_branch %>
    <%= f.label :followers_for, "Observers for task:" %>
    <%= f.select(:followers_for, options_from_collection_for_select(@users, :id, :name),{}, {multiple: true, size: 5})%>
    <%= f.label :assigned_to, "Assign task to:" %>
    <%= f.select :assigned_to, options_from_collection_for_select(@users, :id, :name, (@task.assigned_to ? @task.assigned_to : current_user.id))%>
    <%= f.label :context, "Context:" %>
    <span class="example">(Contexts are used to organize tasks by locations or concepts)</span>
    <%= f.select :context, Task::CONTEXT, :selected => ""%>
    <%= f.label :chronic_due_date, "Due Date:" %>
    <%= f.text_field :chronic_due_date, id: "datepicker" %>
    <%= f.label :chronic_reminder_time, "Reminder Date/Time: " %>
    <span class="example">(Example: next Friday at noon or 8/5/13 at 5pm)</span>

    <%= f.text_field :chronic_reminder_time %>
    <span class="example">Reminders are checked and sent to the phone number in your user account on 10 minute intervals.</span>
  </div>
  <div class="actions">
    <center><%= f.submit "Submit", class: "btn btn-primary" %></center>
  </div>
<% end %>
