<span class="left_section"><%= link_to_function "Add Task", "$('#new_task').toggle('fast')" %>
</span>
<div id="new_task" style="display:none">

<%= render "tasks/form" %>
</div>
<div class="left_section">Tasks
    <%= form_tag('/change_context') do %>
        <%= select_tag "context", options_for_select(Task::CONTEXT_OPTIONS, session[:context]), :onchange => "this.form.submit();"%>
    <% end %>
</div>

<div class="tasks", id="incomplete_tasks">
        <% @incomplete_tasks.each do |task| %>
            <%= render task %>
        <%end%>
        <br />
</div>

<div class="left_section">Completed Tasks</div>

<div class="tasks", id="completed_tasks">
            <% @completed_tasks.each do |task| %>
                <%= render task %>
        <%end%>
</div>
