<% if task.completed %>
        <div id="task_wrapper_<%=task.id%>" class="task_completed">
<% else %>
        <div id="task_wrapper_<%=task.id%>" class="task_incomplete">
<% end %>
    <div class="task_wrapper">
        <div class="task_checkbox">
    <%= form_for [task.taskable, task], remote: true do |f| %>
        <%= f.check_box :completed %>
        <%= f.submit "Update" %>
    <% end %>
        </div>

        <div class="task_content">
            <div>
                <%=task.content%>
                <%if task.context != "" %>
                <font color="c0c0c0" size="-5px">
                    (<%=task.context%>)</font>
                    <% end %>
            </div>
            <% if task.assigned_to != task.taskable_id %>
                <% if task.assigned_to != current_user.id %>
                    <div class="task_gravatar">
                        Assigned to: <%= task_gravatar task.assigned_to, size: 15%><%= name_of_user(task.assigned_to) %>
                    </div>
                <% end %>
                <% if task.taskable != current_user %>
                    <div class="task_gravatar">
                        Assigned by: <%= task_gravatar task.taskable, size: 15 %><%= name_of_user(task.taskable) %>
                    </div>
                <% end %>
            <% end %>
            <div class="task_details_show">
                <div class="task_float_left">
                    <% if task.due_date %>
                        Due:  <%= task.due_date.strftime("%A, %B %d, %Y") %>
                    <% end %>
                </div>
                <div class="task_float_right">
                    <%= link_to_function "(details)", "$('#task_details_#{task.id}').toggle('fast')" %>
                </div>
            </div>
        </div>

    <div id="task_details_<%=task.id%>" class="task_details" style="display:none">
            <div class="task_notes">
                Notes: <%=task.notes%>
            </div>
            <div class="task_context">
                Context: <%=task.context%>
            </div>
            <div class="task_branch">
                Branch: <%=task.branch%>
            </div>
             <div class="task_assigned_to">
                Assigned to:
                <%=name_of_user(task.assigned_to) unless task.assigned_to.nil?%>
            </div>
            <div class="task_created_by">
                Created by:
                <%=name_of_user(task.taskable_id)%>
            </div>
            <div class="task_delete">
                <%= link_to "(edit)","/tasks/#{task.id}/edit" %> | <%= link_to "(delete)", [task.taskable, task], method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
            </div>
        </div>
    </div>
</div>
