<% provide(:title, "Edit user") %>
<div class="mobile_workorder_form">
<h2>Update your Profile</h2>
<div>
<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :role %>
    <%= f.select :role, User::USER_ROLES %>

    <%= f.label :raw_phonenumber, "Phone Number (Used to send text message alerts)" %>
    <%= f.text_field :raw_phonenumber %>

    <%= f.label :texts, "Do you wish to receive text message alerts?"%>
    <%= f.select :texts, { "No" => false, "Yes" => true}%>

    <%= f.label :receive_mails, "Do you wish to receive email messages about your workorders?"%>
    <%= f.select :receive_mails, { "No" => false, "Yes" => true}%>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :current_branch, "Branch" %>
    <%= f.select :current_branch, Workorder::BRANCH_OPTIONS%>

    <% @user.updating_password = true %>

    <%= f.label :signature, "Add a signature for out-going emails."%>
    <%= f.text_area :signature, :size => "30x5"%>

    <center><%= f.submit "Save changes", class: "btn btn-large btn-primary" %></center>
<% end %>

<a href="http://gravatar.com/emails">Change Gravatar</a>
</div>
</div>
