<div class="group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'text_field' %>
</div>
<div class="group">
    <%= f.label :description %>
    <%= f.text_area :description, :size => "20x4"%>
</div>
<div>
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
</div>
<center><%= f.submit "Submit", class: "btn btn-large btn-primary" %></center>

