<%= form_for @option do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :asset_id %><br />
    <%= f.number_field :asset_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
