
	<h2>Equipment Needed</h2>
	<div class="workorder_form">
		<% for asset in @assets_without_serials %>
		<div>
				<span>
					<%= link_to asset.name, edit_workorder_path(asset.workorder) %>  -Serial#:  
					<%= link_to "Add Serial Number", edit_workorder_path(asset.workorder)%>
				</span>
					<% asset.options.each do |o|%>
					<span class="asset_options">
						 - <%= o.name %>
					</span>	
					<% end %>
				<span>Customer:  <%= asset.workorder.customer %></span>
				<span>Due:  <%= asset.workorder.wo_date.strftime("%B %d, %Y at %I:%M %p") %></span>
				<br /></div>
		<% end %>
		</div>

