<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 75%>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= current_user.role.titleize%>
</span>
<span>
  <%= pluralize(current_user.workorders.count, " Workorders") %>
</span>