<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 75%>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span id="role_title">
  <%= current_user.role.titleize%>
</span>
<span id="role_title">
  Branch:  <%= link_to current_user.current_branch, switchbranch_path%>
</span>

<span id="role_title">
    <% if is_mobile_request? %>
        <%= link_to "Switch to Mobile View", toggle_mobile_path%>
    <% else %>
        <%= link_to "Request Time-Off", new_day_off_path %>
    <% end %>
</span>

