<div class="span4"><br/>
    <h2>Open Workorders (<%= @workorders.count %>)</h2>
	<% if @workorders.any? %>
       <%= render @workorders %>
     <%= will_paginate @workorders %>
   <% end %>
	<br />
	<h2>Recently Completed</h2>
	<% if @completed_workorders.any? %>

       <%= render @completed_workorders %>

     <%= will_paginate @completed_workorders %>
   <% end %>
 </div>