
				<% @workorder.assets.each do |m| %>
				<div class="workorder_show">
				<table class="table table-bordered table-condensed">
					<tr>
						<th>Model</th>
						<th>Serial Number</th>
						<th>Options</th>
						<th>Chemicals</th>
					</tr>

					<tr>
						<td valign="top">
							<%=m.name%>
						</td>
						<td valign="top">
							<%=m.serial%>
						</td>
						<td>
							<table class="table table-bordered table-condensed">
								<% m.options.each do |o| %>
								<tr>
									<td>
										<%= o.name %>
									</td>
								</tr>
								<% end %>
							</table>
						</td>
						<td>
							<table class="table table-bordered table-condensed">
								<tr><th>Product</th><th>Qty</th></tr>
								<% m.chemicals.each do |c| %>
								<tr>
									<td>
										<%= c.name.titleize %>
									</td>
									<td>
										<%= c.quantity %>
									</td>
								</tr>
								<% end %>
							</table>
						</td>
					</tr>
					</table>

					<table class="table table-bordered table-condensed">
								<tr>
									<th>Water</th>
									<th>Drain</th>
									<th>Electrical</th>
								</tr>
							<tr class="info">
								<td ><%=m.water_plumbing%></td>
								<td><%=m.drain_plumbing%></td>
								<td><%=m.electrical_option%></td>
							</tr>
					</table>

					<table class="table table-bordered table-condensed">
								<tr>
									<th>Hotwater Heater Type</th>
									<th>Hotwater Heater Capacity</th>
									<th>Electrical Panel Location</th>
								</tr>
							<tr class="info">
								<td ><%=m.water_heater_type%></td>
								<td><%=m.water_heater_capacity%></td>
								<td><%=m.electrical_panel_location%></td>
							</tr>
					</table>

					<table class="table table-bordered table-condensed">
								<tr>
									<th>Disposition of Existing Equipment</th>
									<th>Closest Account</th>
								</tr>
							<tr class="info">
								<td ><%=m.disposition_existing_equipment%></td>
								<td><%=m.closest_account%></td>
							</tr>
					</table>

					<table class="table table-bordered table-condensed">
							<tr>
								<th>
									Additional Installation Notes
								</th>
							</tr>
							<% if m.lift_over_bar? %>
							<tr class="info">
								<td class="table info">
									Lift over bar ( 2 or more people needed )
								</td>
							</tr>
							<%end%>
							<% if m.stairs? %>
							<tr class="info">
								<td class="table info">
									Stairs ( 2 or more people needed )
								</td>
							</tr>
							<%end%>
							<% if m.open_for_business? %>
							<tr class="info">
								<td class="table info">
									Restaurant is open for business.
								</td>
							</tr>
							<%end%>
							<% if m.under_permit? %>
							<tr class="info">
								<td class="table info">
									Restaurant is under permit.
								</td>
							</tr>
							<%end%>
					</table>

					<table class="table table-bordered table-condensed">
							<tr>
								<th>
									Notes
								</th>
							</tr>
							<% m.assetnotes.each do |n| %>
							<tr class="info">
								<td class="table info">
									<%= n.content %>
								</td>
							</tr>
							<%end%>
					</table>

					<table class="table table-bordered table-condensed">
						<tr>
							<th>
								Photos
							</th>
						</tr>
						<% m.asset_photos.each do |photo| %>
							<tr class="info">
								<% unless photo.photo_url.blank? %>
								<td class="table info">
									<%= link_to(image_tag(photo.photo_url(:thumb).to_s,
												{:class=>"dropshadow"}), photo.photo_url(:screen) )%>
								</td>
								<% end %>
							</tr>
							<%end%>
					</table>
					</div>
					<% end %>
