<li>
	<% unless workorder.completed?%>
		<% if workorder.wo_date.to_date == Date.today %>
			<div class="workorder_today">**Today**</div><br />
		<% end %>
		<% if workorder.wo_date.to_date-1 == Date.today %>
			<div class="workorder_tomorrow">**Tomorrow**</div><br />
		<% end %>
		<% if workorder.wo_date.to_date < Date.today %>
			<div class="workorder_pastdue">**Past Due**</div><br />
		<% end %>
	<% end %>
	<span class="lead">
		<%= link_to workorder.customer.titleize, workorder %><br />	
	</span>

	<span class="timestamp">
		<%= workorder.street.titleize%>,  <%= workorder.city.titleize%>, <%= workorder.state.upcase%>
	</span><br />
	
	<span class="timestamp">
    	Contact:  <%= workorder.contact %>  |  
		Phone:  <%= number_to_phone(workorder.phonenumber, :area_code => true) %>
  	</span><br />

	<span class="timestamp">
    	<%= workorder.wo_date.strftime("%A, %B %d, %Y at %I:%M %p")%>
	</span><br />
	
	<span class="tiny">
			Workorder opened by <%= workorder.user.name.titleize %>
	</span>
		<% workorder.assets.each do |a| %>
				<div id="equipment"></div>
				<div id="equipment"><%= a.name %> : <%= Workorder::ASSET_STATUS_OPTIONS.invert[a.status]%><% if a.ready==true%> <em>Complete</em><%end%></div>
				<div><%= progress_bar(a.status, :color => 'blue', :rounded => true, :tiny => true) %></div>
				
		<% end %>
		
		<br />
	
  	<span class="edit_or_delete">
		<center>
			<%= link_to "Edit", edit_workorder_path(workorder) %>
  			<% if current_user.admin==true %>
				  |  
			<%= link_to "Remove", workorder, :confirm => 'Are you sure?', :method => :delete %><% end %>
			<% unless workorder.completed?%>
			  |  
			<%= link_to "Complete", complete_workorder_path(workorder)%>
			<% end %>
		</center>
	</span>

</li>


