	<% unless workorder.completed? || workorder.wo_date.nil? %>
		<% if workorder.wo_date.to_date == Date.today %>
			<div class="mobile_workorder_today">**Today**</div><br />
		<% end %>
		<% if workorder.wo_date.to_date-1 == Date.today %>
			<div class="mobile_workorder_tomorrow">**Tomorrow**</div><br />
		<% end %>
		<% if workorder.wo_date.to_date < Date.today %>
			<div class="mobile_workorder_pastdue">**Past Due**</div><br />
		<% end %>
	<% end %>

<li class="li-cal-workorder">
	<% unless workorder.wo_date.nil? %>
    <%= link_to workorder.wo_date.strftime("%I:%M %p"), edit_workorder_path(workorder), id: "change_datetime_#{workorder.id}", remote: true %> - <%= link_to workorder.customer.titleize, workorder %>
    <% end %>
</li>

				<li class="li-cal-workorder-2">
					<%=workorder.wo_type.titleize%>
				</li>
				<li class="li-cal-workorder-3">
					<%=link_to "Address: #{workorder.street.titleize}, #{workorder.city.titleize}, #{workorder.state.upcase}", workorder.googlemaps_link%>
				</li>
				<li class="li-cal-workorder-3">
						Contact: <%= workorder.contact.titleize%>
				</li>
				<li class="li-cal-workorder-3">
						Phone Number: <%= number_to_phone(workorder.phonenumber, :area_code => true) %>
				</li>

	<li class="li-cal-workorder-small">
			Opened by <%= workorder.user.name.titleize %> | Assigned to <%= workorder.assigned_to ? name_of_user(workorder.assigned_to) : ""%>
	</li>

	<li class="li-cal-workorder-3">
		<% workorder.assets.each do |a| %>
			<div id="equipment"></div>
			<div id="equipment"><%= a.name %> : <%= Workorder::ASSET_STATUS_OPTIONS.invert[a.status]%><% if a.ready==true%> <em> : Ready!</em><%end%></div>
			<div><%= progress_bar(a.status, :color => 'blue', :rounded => true, :tiny => true) %></div>
		<% end %>
	</li>
	<br />
	<li class="li-cal-workorder-buttons">

		<a href=<%=edit_workorder_path(workorder)%> type="button" class="btn btn-large" >Edit</a>

		<% if current_user.admin==true %>
			  <a href=<%=workorder_path(workorder)%> type="button" class="btn btn-large" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
		<% end %>
		<% unless workorder.completed?%>
		 	<a href=<%=complete_workorder_path(workorder)%> type="button" class="btn btn-large" data-confirm="Don't forget to add After Photos to completed workorders." >Complete</a>
		<% end %>
	</li>

<hr />










