<div class="row-fluid">
	<div class="span5">

	<%= render :partial => 'shared/unscheduled_workorders' %>
</div>

</div>

<div id="articles">
	<h2 id="month">
	  <%= link_to "<", date: @date.prev_month %>
	  <%= @date.strftime("%B %Y") %>
	  <%= link_to ">", date: @date.next_month %>
	</h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @workorders_by_date[date] %>
      <% @workorders_by_date[date].each do |workorder| %>
		<div class= "work_wrapper_small">
			<% if workorder.wo_type == 'New Install' %>
				<div class="work_bar_new_small">	</div>
			<% end %>
			<% if workorder.wo_type == 'Pull'%>
				<div class='work_bar_pull_small'>	</div>
			<% end %>
			<% if workorder.wo_type == 'Swap'%>
				<div class='work_bar_swap_small'>	</div>
			<% end %>
			<% if workorder.wo_type == 'Follow Up'%>
				<div class='work_bar_follow_up_small'>	</div>
			<% end %>
		<div class="calendar_event">
			<%= link_to workorder.customer.titleize, workorder %>
		</div>
		<div class="calendar_event_time">

				<%= link_to workorder.wo_date.strftime("%I:%M %p"), edit_workorder_path(workorder), id: "change_datetime_#{workorder.id}", remote: true %>

 <em><%=workorder.wo_duration%> hr est.</em>
		</div>
		<div class="calendar_event">
			<% workorder.assets.each do |asset| %>
				|  <%=asset.name%> |
			<% end %><br />
		<div id="change_datetime_link">

		</div>
		</div>

		</div>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</div>
<br />
<center>
	<%= link_to("Subscribe to Calendar", "webcal://www.workordermachine.com/calendar_feed/#{current_user.current_branch}/calendar_feed.ics" ) %>

	</center>

