<div class="cal-container">
	<table class="cal">
		<thead>
			<tr class="cal-header">
				<th><%= link_to "<<", date: @date.prev_month, :class => "cal-nav prev" %></th>
				<th colspan="5" class="cal-title"><%= @date.strftime("%B %Y") %></th>
				<th><%= link_to ">>", date: @date.next_month, :class => "cal-nav next" %></th>
			</tr>
			<tr class="cal-day-names">
				<th abbr="Sunday">sun</th>
				<th abbr="Monday">mon</th>
				<th abbr="Tuesday">tue</th>
				<th abbr="Wednesday">wed</th>
				<th abbr="Thursday">thu</th>
				<th abbr="Friday">fri</th>
				<th abbr="Saturday">sat</th>
			</tr>
		</thead>
		<% date=@date.beginning_of_month.beginning_of_week(:sunday) %>
		<% e_of_week=date.end_of_week(:sunday) %>
			<tr class="week">
				<% while date <= e_of_week %>
					<% if date==@date %>
						<td class="event">
					<%elsif date==Date.today%>
						<td class="today">
					<% elsif date.month!=@date.month%>
						<td class="oom">
					<%else%>
						<td class="day">
					<% end %>

						<time datetime=<%=date.strftime("%B %d")%>>

						<%= link_to date.strftime("%d"), date: date, :class => "cal-nav next" %>

					</td>
					<% date += 1 %>
				<% end %>
			</tr>
			<% e_of_week=date.end_of_week(:sunday) %>
			<tr class="week">
				<% while date <= e_of_week %>
					<% if date==@date %>
						<td class="event">
					<%elsif date==Date.today%>
						<td class="today">
					<% else %>
						<td class="day">
					<% end %>

						<time datetime=<%=date.strftime("%B %d")%>><%= link_to date.strftime("%d"), date: date, :class => "cal-nav next" %>
						<% if @workorders_by_date[date] %>
							<div class="small-green-circle"></div>
						<% end %>
						<% @users.each do |user| %>
							<% user.day_offs.each do |day_off| %>
								<% if date <= day_off.end_date && date >= day_off.start_date %>
										<div class="small-blue-circle"></div>
								<% end %>
							<% end %>
						<% end %>

					</td>
					<% date += 1 %>
				<% end %>
			</tr>
			<% e_of_week=date.end_of_week(:sunday) %>
			<tr class="week">
				<% while date <= e_of_week %>
					<% if date==@date %>
						<td class="event">
					<%elsif date==Date.today%>
						<td class="today">
					<% else %>
						<td class="day">
					<% end %>

						<time datetime=<%=date.strftime("%B %d")%>><%= link_to date.strftime("%d"), date: date, :class => "cal-nav next" %>
						<% if @workorders_by_date[date] %>
							<div class="small-green-circle"></div>
						<% end %>
						<% @users.each do |user| %>
							<% user.day_offs.each do |day_off| %>
								<% if date <= day_off.end_date && date >= day_off.start_date %>
										<div class="small-blue-circle"></div>
								<% end %>
							<% end %>
						<% end %>

					</td>
					<% date += 1 %>
				<% end %>
			</tr>
			<% e_of_week=date.end_of_week(:sunday) %>
			<tr class="week">
				<% while date <= e_of_week %>
					<% if date==@date %>
						<td class="event">
					<%elsif date==Date.today%>
						<td class="today">
					<% else %>
						<td class="day">
					<% end %>

						<time datetime=<%=date.strftime("%B %d")%>><%= link_to date.strftime("%d"), date: date, :class => "cal-nav next" %>
							<% if @workorders_by_date[date] %>
							<div class="small-green-circle"></div>
						<% end %>
						<% @users.each do |user| %>
							<% user.day_offs.each do |day_off| %>
								<% if date <= day_off.end_date && date >= day_off.start_date %>
										<div class="small-blue-circle"></div>
								<% end %>
							<% end %>
						<% end %>
					</td>
					<% date += 1 %>
				<% end %>
			</tr>
			<% e_of_week=date.end_of_week(:sunday) %>
			<tr class="week">
				<% while date <= e_of_week %>
					<% if date==@date %>
						<td class="event">
					<%elsif date==Date.today%>
						<td class="today">
					<% elsif date.month!=@date.month%>
						<td class="oom">
					<% else %>
						<td class="day">
					<% end %>

						<time datetime=<%=date.strftime("%B %d")%>><%= link_to date.strftime("%d"), date: date, :class => "cal-nav next" %>
							<% if @workorders_by_date[date] %>
							<div class="small-green-circle"></div>
						<% end %>
						<% @users.each do |user| %>
							<% user.day_offs.each do |day_off| %>
								<% if date <= day_off.end_date && date >= day_off.start_date %>
										<div class="small-blue-circle"></div>
								<% end %>
							<% end %>
						<% end %>
					</td>
					<% date += 1 %>
				<% end %>
			</tr>
	</table>
</div>
<div class="cal-date-contents">
	<ul class="ul-cal-date">
		<li class="li-cal-date"><%= @date.strftime("%B %d, %Y") %></li>
		<br />
		<% @users.each do |user| %>
				<% user.day_offs.each do |day_off| %>
				<% if @date <= day_off.end_date && @date >= day_off.start_date %>
					<li class="li-cal-dayoff">
					<% if current_user.role=="Branch Manager" || current_user.role=="Regional Manager" %> Time Off:
					<%=link_to day_off.user.name, edit_day_off_path(day_off)%> |
					<% else %>
						<%=day_off.user.name%> |
					<% end %>
					<% if day_off.approved? %>
						<%=day_off.do_type%>
					<% else %>
						Pending
					<% end %>
				</li>
				<hr />
				<% end %>
			<% end %>
		<% end %>

		<% @tasks.each do |task| %>
			<% if task.reminder_date %>
				<% if task.reminder_date.to_date == @date %>
					<li class="li-cal-dayoff">Task Reminder: <%= link_to task.content, root_path %></li><hr />
				<% end %>
			<% end %>
			<% if task.due_date %>
				<% if task.due_date == @date %>
					<li class="li-cal-dayoff">Task Due: <%= link_to task.content, root_path %></li><hr />
				<% end %>
			<% end %>
		<% end %>



		<% if @workorders_by_date[@date] %>
      		<% @workorders_by_date[@date].each do |workorder| %>
				<%= render workorder %>
			<% end %>
		<% end %>

	</ul>
</div>
















