
<h2>Search for Workorder</h2>
<%= search_form_for @search do |f| %>
	<%= f.label :customer_cont, "Customer:", :class => "workorder_form_label" %>
	<%= f.text_field :customer_cont %>
	<center>
		<%= f.submit "Search", class: "btn btn-large" %>
	</center>
<% end %>

<div class="cal-date-contents">

    <ul class="ul-cal-date">
       <%= render 'results' %>
    </ul>

</div>
