<h2>Search for Workorder</h2>
<%= search_form_for @search do |f| %>
	<%= f.label :customer_cont, "Customer" %>
	<%= f.text_field :customer_cont %>
	<center>
		<%= f.submit "Search", class: "btn btn-large btn-primary" %>
	</center>
<% end %>
	

<%= render 'results' %>
