  <%= render :partial => 'shared/lower_header' %>

<div class="workorder_search_wrapper row">
	<h1>Search Workorders</h1>
	<div class="workorder_search_content span4"><br />
		<h2>Search</h2>
		<%= search_form_for @search do |f| %>
  			<div class="field">
    			<%= f.label :customer_cont, "Customer" %>
    			<%= f.text_field :customer_cont %>
				<%= f.label :contact_cont, "Contact" %>
    			<%= f.text_field :contact_cont %>
				<%= f.label :street_cont, "Street" %>
    			<%= f.text_field :street_cont %>
				<%= f.label :city_cont, "City" %>
    			<%= f.text_field :city_cont %>
				<%= f.label :branch_eq, "Branch"%>
				<%= f.text_field :branch_eq%>
				<%= f.label :wo_date_gt, "Workorders after:"%>
				<%= f.text_field :wo_date_gt%>
				<%= f.label :wo_date_lt, "Workorders before:"%>
				<%= f.text_field :wo_date_lt%>
  			</div>

  			<center>
				<%= f.submit "Search", class: "btn btn-large btn-primary" %>
			</center>
		<% end %>
	</div>
	<div class="span5">
		<%= render 'results' %>
	</div>
</div>

