<% provide(:title, @workorder.customer) %>
	<h1 class="show_workorder"><%= @workorder.customer %></h1>
			<hr>
	<div class="row">
		
	  <div class="span4 fields" >
			<h3 align="center">Customer Information</h3><hr/>
					<address>
					<strong><%= @workorder.customer.titleize%></strong><br/>
					<%= @workorder.street %><br/>
					<%= @workorder.city%>, <%= @workorder.state%><br/>
					</address>

					<%= @workorder.wo_date.strftime("%A, %B %d, %Y at %I:%M %p")%><br/>
					Time estimate: <b><%=@workorder.wo_duration%> hours</b><br/>
					</br/>
					On-site contact:
					<%= @workorder.contact%><br/>
					Phone Number: 
					<%= number_to_phone(@workorder.phonenumber, :area_code => true)%>
					<br/>
					<br/>
					<b><u>Additional Notes:</u></b>
					<%=@workorder.misc_notes%><br /><br />
					<center><%= link_to "Edit", edit_workorder_path(@workorder) %></center>
			</div>

	
	  <div class="span6 fields">
		<h3 align="center">Equipment Information</h3><hr />
				<% @workorder.assets.each do |m| %>
				<table class="table table-bordered table-condensed">
					<tr>
						<th>Model</th>
						<th>Serial Number</th>
						<th>Options</th>
						<th>Chemicals</th>
					</tr>
					
					<tr>
						<td valign="top">
							<%=m.name%>
						</td>
						<td valign="top">
							<%=m.serial%>
						</td>
						<td>
							<table class="table table-bordered table-condensed">
								<% m.options.each do |o| %>
								<tr>
									<td>
										<%= o.name %>
									</td>	
								</tr>
								<% end %>
							</table>	
						</td>
						<td>
							<table class="table table-bordered table-condensed">
								<tr><th>Product</th><th>Qty</th></tr>
								<% m.chemicals.each do |c| %>
								<tr>
									<td>
										<%= c.name.titleize %>
									</td>
									<td>
										<%= c.quantity %>
									</td>	
								</tr>
								<% end %>
							</table>
						</td>	
					</tr>
					</table>

					<table class="table">
							<thead><tr><th>Notes</th></tr></thead>
							<% m.assetnotes.each do |n| %>
							<tr class="info"><td class="table info"><%= n.content %></td></tr>
							<%end%>
								
					
					</table>
				<% end %>
				<center><%= link_to "Edit", edit_workorder_path(@workorder) %></center>
	    

			</div>
	</div>
	<div class="row">
		<div class="span5 fields" >
			<h3 align="center">Before Photos</h3><hr/>
			<% @workorder.before_photos.each do |photo| %>
				<%= image_tag photo.photo_url(:thumb).to_s%>
			<% end %>
		</div>
		<div class="span5" id="workorder_left">
			<h3 align="center">After Photos</h3><hr/>
			<% @workorder.before_photos.each do |photo| %>
				<%= image_tag photo.photo_url(:thumb).to_s%>
			<% end %>
		</div>
	</div>	