<% provide(:title, @workorder.customer) %>
<div class="workorder_show_wrapper">

	<% if @workorder.wo_type == 'New Install' %>
		<div class="work_bar_new"></div>
	<% end %>
	<% if @workorder.wo_type == 'Pull'%>
		<div class='work_bar_pull'></div>
	<% end %>
	<% if @workorder.wo_type == 'Swap'%>
		<div class='work_bar_swap'></div>
	<% end %>
	<% if @workorder.wo_type == 'Follow Up'%>
		<div class='work_bar_follow_up'></div>
	<% end %>

	<h1 class="show_workorder">
	  <%= @workorder.customer.titleize %>
	</h1>

	<h2 class="show_workorder2">
	  <%= @workorder.wo_type %>
	</h2>
	<br />
	<div style="width: 100%; text-align: center;">

		<a href=<%=edit_workorder_path(@workorder)%> type="button" class="btn btn-large btn-primary" >Edit</a>

		<% if current_user.admin==true %>
			  <a href=<%=workorder_path(@workorder)%> type="button" class="btn btn-large btn-primary" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
		<% end %>

			<a href=<%=toggle_follower_path(@workorder)%> type="button" class="btn btn-large btn-primary" >
				<% if @workorder.already_following?(current_user) %>
					Unfollow
				<% else %>
					Follow
				<% end %>
			</a>

		<% unless @workorder.completed?%>
		 	<a href=<%=complete_workorder_path(@workorder)%> type="button" class="btn btn-large btn-primary" data-confirm="Don't forget to add After Photos to completed workorders." >Complete</a>

		<% end %>

	</div>
	<hr />

	<div class="workorder_show_content" >
		<div class="row-fluid">
			<table class="table table-bordered table-striped">
			  <tr>
			    <th width="50%">CUSTOMER INFORMATION</th>
			    <th>EQUIPMENT INFORMATION</th>
			  </tr>
			  <tr>
			    <td><%= render :partial => 'workorders/customer_information' %></td>
				<td><%= render :partial => 'workorders/equipment_information' %></td>
			  </tr>
			</table>
		</div>
		<div class="row-fluid">
		  <%= render :partial => 'workorders/before_after_photos' %>
		</div>
		<a name="comments"></a>
		<div class="row-fluid">
		  <%= render :partial => 'comments/comments_module' %>
	    </div>
	    <div class="lonely_form" id="followup_workorder" style="display:none" >
	    	<h2> Add Follow Up Workorder</h2>
	    	<%= render :partial => 'shared/workorderpost_followup_form' %>
	    </div>

	</div>

	<br />
	<center><%= link_to "Edit Current Workorder", edit_workorder_path(@workorder) %></center><br>
	<center><%= link_to_function "Create Follow Up Workorder", "$('#followup_workorder').toggle('slow')" %></center>
</div>
