<h1 class="show_workorder">
	  <%= @workorder.customer.titleize %>
</h1>
<h2>
	<%=@workorder.wo_type.titleize%> Workorder
</h2>
	<div style="width: 100%; text-align: center;">

		<a href=<%=edit_workorder_path(@workorder)%> type="button" class="btn btn-large" >Edit</a>

			<% if current_user.admin==true %>
			  <a href=<%=workorder_path(@workorder)%> type="button" class="btn btn-large" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>

		<% end %>
		<a href=<%=toggle_follower_path(@workorder)%> type="button" class="btn btn-large" >
				<% if @workorder.already_following?(current_user) %>    Unfollow
				<% else %>
					Follow
				<% end %>
			</a>
		<% unless @workorder.completed?%>
		 	<a href=<%=complete_workorder_path(@workorder)%> type="button" class="btn btn-large" data-confirm="Don't forget to add After Photos to completed workorders." >Complete</a>

		<% end %>

	</div>
<hr />
<%= render :partial => 'customer_information' %>
<hr />
<h2>
	Equipment Information
</h2>
<%= render :partial => 'equipment_information' %>
<h2>
	Photos
</h2>
<hr />
<%= render :partial => 'before_after_photos.html.erb' %>
<hr />
<h2>
	Comments
</h2>
<%= render :partial => 'comments/comments_module_mobile' %>
<div id="followup_workorder" style="display:none" >
	<h2> Add Follow Up Workorder</h2>
	<%= render :partial => 'shared/workorderpost_followup_form' %>
</div>
<div><center><%= link_to_function "Follow Up Workorder", "$('#followup_workorder').toggle('slow')", class: "btn btn-large"  %></center></div>

