<%= form_for @document, :html => { :class => 'form-vertical', :multipart => true } do |f| %>
  <p>
    <%= f.label :pdfdoc %><br />
		<%= image_tag(f.object.pdfdoc_url) if f.object.pdfdoc? %>
		<%= f.file_field :pdfdoc %>
		<%= f.hidden_field :pdfdoc_cache%>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
