<%= form_for @document, :html => { :class => 'form-vertical', :multipart => true } do |f| %>
  <p>
    <%= f.label :pdfdoc %><br />
		<%= image_tag(f.object.pdfdoc_url) if f.object.pdfdoc? %>
		<%= f.file_field :pdfdoc %>
		<%= f.hidden_field :pdfdoc_cache%>
  </p>
  <p>
    <%= f.label "Title" %><br />
    <%= f.text_field :description %>
  </p>
	<p>
		<%= f.label :tag_list, "Tags (separated by commas)" %><br />
		<%= f.text_field :tag_list %>
	</p>	
  <p><%= f.submit %></p>
<% end %>
