

<p>
  <strong>Pdfdoc:</strong>
  <%= @document.pdfdoc %>
</p>
<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <%= link_to "Edit", edit_document_path(@document) %> |
  <%= link_to "Destroy", @document, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", documents_path %>
</p>
