<style>
.comment {
    font-size: 1em;
    color: #696969;
}
.footer {
    font-size: .50em;
    color: #adadad;
    text-align: justify;
}
.tiny {
    font-size: .75em;
    color: #adadad;
}
h1 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom:  20px;
    text-align: center;
}
h2{
    font-size: 1.0em;
    margin-bottom: 10px;
    font-weight: normal;
    color: #adadad;
}
</style>

<center><h1>WORKORDER::MACHINE</h1></center>
<hr />
<p class="comment">Customer: <%=@workorder.customer.titleize%></p>
<p class="comment">Address: <%=@workorder.street.titleize%>, <%=@workorder.city.titleize%>, <%=@workorder.state.upcase%></p>
<p class="comment">Contact: <%=@workorder.contact.titleize%></p>
<p class="comment">Phone Number: <%=number_to_phone(@workorder.phonenumber, :area_code => true)%></p>
<% unless @workorder.wo_date.nil? %>
    <p class="comment">Date/Time: <%=@workorder.wo_date.strftime("%A, %B %d, %Y at %I:%M %p")%></p>
    <%else%>
    <p class="comment">Date/Time: Unscheduled</p>
<% end %>

<p class="comment">Estimated Duration: <%=@workorder.wo_duration%> hours</p>

<% unless @workorder.misc_notes.blank? %>
    <p class="comment">Notes: <%=@workorder.misc_notes%></p>
<% end %>

<% if @workorder.assets.any? %>
    <p class="comment"> Equipment Needed:
    |
        <% @workorder.assets.each do |asset| %>
            <%= asset.name %> |
        <% end %>
    </p>
<% end %>


<p class="comment"><a href="http://ac.workordermachine.com<%=url_for(@workorder)%>">View Workorder</a></p>
<p class="tiny"><%=@workorder.wo_type.titleize%> workorder created by <%=@workorder.user.name.titleize%></p>
<hr />
<p class="footer">To turn off email notifications visit your settings and turn email notifications to no.  If you would rather have text message notifications make sure your account has a valid phone number where text messages can be received and set text message notifications to yes.</p>
