<% provide(:title, "Bugs") %>
<h1 class="show_workorder">Bugs</h1>
<h2>Open</h2>
<table class="table table-bordered table-striped">
  <tr>
    <th class="bugs-th">Type</th>
	<th>Name</th>
    <th class="bugs-th">Actions</th>
  </tr>
  <% for bug in @bugs %>
    <tr>
      <td><%= bug.request_type %></td>
	  <td><%= bug.name %></td>
      <td><%= link_to "Edit", edit_bug_path(bug) %>  |  
	  <%= link_to "Complete", complete_bug_path(bug)%>  |  
      <%= link_to "Destroy", bug, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<h2>Feature Requests</h2>
<table class="table table-bordered table-striped">
  <tr>
    <th class="bugs-th">Type</th>
	<th>Name</th>
    <th class="bugs-th">Actions</th>
  </tr>
  <% for bug in @feature_bugs %>
    <tr>
      <td><%= bug.request_type %></td>
	  <td><%= bug.name %></td>
      <td><%= link_to "Edit", edit_bug_path(bug) %>  |  
	  <%= link_to "Complete", complete_bug_path(bug)%>  |  
      <%= link_to "Destroy", bug, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<h2>Completed</h2>
<table class="table table-bordered table-striped">
  <tr>
    <th class="bugs-th">Type</th>
	<th>Name</th>
    <th class="bugs-th">Actions</th>
  </tr>
  <% for bug in @completed_bugs %>
    <tr>
      <td><%= bug.request_type %></td>
	  <td><%= bug.name %></td>
      <td><%= link_to "Edit", edit_bug_path(bug) %>  |  
	  <%= link_to "Complete", complete_bug_path(bug)%>  |  
      <%= link_to "Destroy", bug, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br />
<p><%= link_to "New Bug", new_bug_path %></p>
