
<table>
  <tr>
    <th>Type</th>
	<th>Name</th>
    <th>Fixed</th>
  </tr>
  <% for bug in @bugs %>
    <tr>
      <td><%= bug.request_type %></td>
	  <td><%= bug.name %></td>

      <td><%= bug.fixed %></td>
      <td><%= link_to "Show", bug %></td>
      <td><%= link_to "Edit", edit_bug_path(bug) %></td>
      <td><%= link_to "Destroy", bug, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Bug", new_bug_path %></p>
