<%= form_for @day_off do |f| %>

    <%= f.label :start_date %>
    <%= f.date_select :start_date %>

    <%= f.label :end_date %>
    <%= f.date_select :end_date %>

    <%= f.label :do_type, "Vacation, Sick or Other" %>
    <%= f.select :do_type, { "Vacation" => "Vacation", "Floating Holiday" => "Floating Holiday", "Sick" => "Sick", "Other" => "Other"} %>

    <% if current_user.role == 'Branch Manager' || 'Regional Manager' %>
        <%= f.label :approved, "Approve Time Off" %>
        <%= f.select :approved, { "No" => false, "Yes" => true}%>
    <% end %>

  <div class="actions">
    <center><%= f.submit "Submit", class: "btn btn-small" %></center>
  </div>
<% end %>
