<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Admin
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Users", users_path %>
    </li>
    <li>
      <%= link_to "Add New User", new_user_path %>
    </li>
    <li>
      <%= link_to "Bugs", bugs_path %>
    </li>
    <li>
      <%= link_to "Heroku", "https://dashboard.heroku.com/apps/pject/resources"%>
    </li>
    <li>
      <%= link_to "Twilio", "https://www.twilio.com/user/account/usage/primary" %>
    </li>
    <li>
      <%= link_to "AWS", "https://console.aws.amazon.com/console/home" %>
    </li>
    <li>
      <%= link_to "YouTube", "http://code.google.com/apis/youtube/dashboard/gwt/index.html#product/AI39si5UkNPUG_XPonqzXwTwjzgIQozC9KF5CNCXr6OTq4Q9gwHRmaofJEmarGcjW5b4m3SF_gsjTje67WGjLwykwstdLauW5g"%>
    </li>
  </ul>
</li>
