<%  if signed_in? %>
<footer class="footer2">
	<div class="secondary_nav">
		<table>
		 <tr><td>Workorders					  </td></tr>
		 <tr><td><%= link_to "Home", root_path %>						  </td></tr>
		 <tr><td><%= link_to "Calendar", calendar_path %>		  </td></tr>
		 <tr><td><%= link_to "Search", workorders_path %>		  </td></tr>
    </table>
	</div>
	<div class="secondary_nav">
		<table>
		 <tr><td>Part Needs</td></tr>
		 <tr><td><%= link_to "Parts", parts_path %>					  </td></tr>
    </table>
	</div>
	<div class="secondary_nav">
		<table>
		 <tr><td>Knowledge</td></tr>
		 <tr><td><%= link_to "Documents", documents_path %>	  </td></tr>
		 <tr><td><%= link_to "Articles", "#" %>								</td></tr>
		 <tr><td><%= link_to "Videos", videos_path %>		  						</td></tr>
    </table>
	</div>
	<div class="secondary_nav">
		<table>
		 <tr><td>Users</td></tr>
		 <tr><td><%= link_to "Preferences", user_path(current_user) %>		  									</td></tr>
		 <tr><td><%= link_to "Request Time-Off", new_day_off_path %>					  						</td></tr>

    </table>
	</div>
	<div class="secondary_nav">
		<table>
		 <tr><td>Support</td></tr>
		 <tr><td><%= link_to "Blog", posts_path %>		  									</td></tr>
		 <tr><td><%= link_to "Help", "#" %>					  						</td></tr>
		 <tr><td><%= link_to "Request a Feature", new_bug_path %>	</td></tr>
		 <tr><td><%= link_to "Report a Bug", new_bug_path %>			</td></tr>
    </table>
	</div>
</footer>
<%else%>
<footer class="footer2">
</footer>
<% end %>
