<!DOCTYPE html>
<html>
	<head>
  		<title><%= full_title(yield(:title))%></title>
		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
		<%= google_webfonts_link_tag :electrolize %>
		<link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
		<link rel="apple-touch-icon" href="/iphone_icon.png"/>
		<%= yield :head %>
		<%= stylesheet_link_tag "application", :media => "all" %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container" id="window">
			<% if signed_in? %>
			  <%= render :partial => 'shared/lower_header' %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%= debug (params) if Rails.env.development? %>
			<hr />
			<%= debug(session) if Rails.env.development? %>
		</div>
	<%= link_to "toggle_mobile", toggle_mobile_test_path if Rails.env.test? %><br />

		<hr />
	</body>
	<%= yield :scripts %>
</html>
