<!DOCTYPE html>
<html>
	<head>
  		<title><%= full_title(yield(:title))%></title>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
		<%= google_webfonts_link_tag :electrolize %>
<link href='http://fonts.googleapis.com/css?family=Stardos+Stencil|Holtwood+One+SC' rel='stylesheet' type='text/css'>
		<link rel="apple-touch-icon" href="/iphone_icon.png"/>
		<%= yield :head %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
	</head>
	<body class="mobile_body">
    <div class="mobile_header">
      <%=link_to "W.O.M.", root_path, :id => "mobile_logo"%>

<!--           				<ul class="nav mobile_menu"> -->
				<% if signed_in? %>
          <div class="mobile_menu_right">
              <%= link_to_function image_tag("/icons/Menu.png", :size =>"32x32", :mouseover => "/icons/Menu_MouseOver.png"), "$('#mobile_dropdown').toggle()"%>
          </div>

          <div id="mobile_dropdown" style="display:none">
            <div id="mobile_menu_scrollable">
              <% @icons=["Home", "New_workorder","Calendar", "Search", "Knowledge", "Videos", "Blog", "Bug",  "Desktop"] %>
              <% @icons.each do |icon| %>
                  <%= menu_item(icon) %>
              <% end %>
              <%= menu_item("Logout", true) %>
           </div>

            </div> -->
          </div>
    	  <% else %>

        <% end %>

    </div>

        <div class="mobile_content_wrapper">
          <% if flash.any? %>
            <div class="row" id="flash_row">
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><a class="close" data-dismiss="alert">×</a><%= value %></div>
              <% end %>
            </div>
          <% end %>

            <%= yield %>

        </div>
<!--
        <%= debug (params) if Rails.env.development? %>
      <hr />
      <%= debug(session) if Rails.env.development? %>
        <%= link_to "toggle_mobile", toggle_mobile_path if Rails.env.test? %>
 -->
	</body>
<%= yield :scripts %>
</html>

