<!DOCTYPE html>
<html>
	<head>
  		<title><%= full_title(yield(:title))%></title>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
		<%#= google_webfonts_link_tag :electrolize %>
		<link rel="apple-touch-icon" href="/iphone_icon.png"/>
		<%= yield :head %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
	</head>
	<body class="mobile_body">
      	<div class="navbar navbar-fixed-top">
      		<div class="navbar-inner">
      			<div class="container">
      				<ul class="nav">
      					<li><%=link_to "W.O.M.", root_path%></li>
      					<% if signed_in? %>
	      					<li><%=link_to "Search", search_path%></li>
	      					<li><%=link_to "Calendar", calendar_path%></li>
	      					<li class="dropdown">
			    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    					Other
			    					<b class="caret"></b>
			    				</a>
			    				<ul class="dropdown-menu">
			    					<% if signed_in? %>
			    						<li><%=link_to "Docs", documents_path%></li>
			    						<li class="divider"></li>
				      					<li><%=link_to "Videos", videos_path%></li>
				      					<li class="divider"></li>
				      					<li><%=link_to "Blog", posts_path%></li>
				      					<li class="divider"></li>
				      					<li><%=link_to "Bugs", new_bug_path %></li>
				      					<li class="divider"></li>
				      					<li><%=link_to "Settings", edit_user_path(current_user)%></li>
			    					<% end %>
			    				</ul>
	      				<% end %>
      				</ul>
      			</div>
      		</div>
      	</div>

		<div class="mobile_content_wrapper">
			<%= yield %>
		</div>
	</body>
<%= yield :scripts %>
</html>

